.movieSection {
  margin: 0px 30px;
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Grid {
    flex-flow: row wrap;
  }
  .List {
    flex-flow: column wrap;
    .thumbnail {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
  }
  .section-header {
    padding: 10px 0px;
    h1 {
      margin: 20px 80px;
      font-size: xx-large;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif;
      color: var(--primary-color);
    }
  }
  .banner {
    color: white !important;
    height: 30vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../Assets/Images/bg/movies-section.jpg");
    background-size: contain;
    background-position: center;
    h1 {
      color: white !important;
      font-size: 2.5em;
    }
  }
}
.toggle-button {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    background-color: var(--secondary-color);
  }
}
